[submodule "haskell-scotty-realworld-example-app"]
	path = haskell-scotty-realworld-example-app
	url = git@github.com:mpickering/haskell-scotty-realworld-example-app.git
[submodule "ghc-debug"]
	path = ghc-debug
	url = git@gitlab.haskell.org:ghc/ghc-debug.git
